.footerBlock {
    background-color: #414254;
    height: 60px;
    padding: 5px;
}

.footerContainer {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85em;
    flex-wrap: wrap;
}

.footerSocial a {
    font-size: 1.2em;
    display: inline-block;
    color: #fff;
    margin: 0 20px;
    transition: color .3s ease-out;
}

a {
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

a:hover {
    color: #ce4b7e;
}

.copyright {
    color: #dbd8d8;
    margin-left: 30px;
}

@media screen and (max-width: 700px) {
    .footerContainer {
        justify-content: center;
    }
}